venv/
/venv/
env/
.env
__pycache__/
media/
staticfiles/
static/
db.sqlite3
urls.txt
vectorizer_3rd.pickle
XGBoost_2nd_attempt_with__60k_with_new_data.joblib
test_model.ipynb
test_model_1.py
test.ipynb
notes.txt
test.json
linkedin_users_json_files/
excel_results/
excel_
logs/
a.ipynb
