
DEBUG=True
SECRET_KEY=

PASSWORD_USER=
GOOGLE_ID=
OPENAI_API_KEY=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

ALLOWED_HOST=http://127.0.0.1:8000

PATH_VECTORIZER=
PATH_MODEL=

PASSWORD_RESET_URL = http://127.0.0.1:8000/
